
.bg-Dark{
    background-color: #1c2331;
}

.bg-Darker{
    background-color: #161c27;
}

.item-img{
    width: $img_width;
    height: $img_height;
}

.center{
    text-align-last: center;
    text-align: -webkit-center;
}

.white{
    color: white;
}

.border{
    border: #161c27;
}

.space{
    line-height : 2.5rem;
}



