
.link{
    color: $white;
    text-decoration: none;
}

.box-width{
    width: 180px;
}

.img-card{
    width: 100%;
    height: auto;
}

.box{
    position: relative;
    margin: 10px 0;
}

.dark{ 
    background-color: $black;
    color: $white;
}

.grey{
    background-color: $grey;
}

.flex-center{
    display: flex;
    justify-content: $center;
    align-items: $center;
    font-weight: bold;
}

.black-box{
    width: 70%;
    height: 8%;
    left: 15%;
    top: 72%;
    position: absolute;
}

.grey-box{
    height: 70px;
}

.btn-box{
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    height: 30px;
}

.white{
    color: $white;
}



